<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{{title}}</title>

	<link rel='stylesheet'
		{{#if IS_DEVELOPMENT}}
		href='/static/node_modules/bootstrap/dist/css/bootstrap.css'
		{{else}}
		href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'
		{{/if}}
		/>
	<link rel='stylesheet' href='/static/dist/css/build.css' />
	{{{block "styles"}}}
</head>
<body>
	<header class="page-layout--header">
	{{#block "page-header"}}
	{{> page-header}}
	{{/block}}
	</header>
	<main class="page-layout--main">
		<section class="page-layout--main--middle">
		{{{body}}}
		</section>
		<section class="page-layout--main--left">
		{{{block "page-content--left"}}}
		</section>
		<aside class="page-layout--main--right">
		{{{block "page-content--right"}}}
		</aside>
	</main>
	<footer class="page-layout--footer">
		
	</footer>

	<script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
	<script src="/static/dist/js/build.js"></script>
	{{{block "scripts"}}}
</body>
</html>
