<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{{title}}</title>
	<link rel='stylesheet' href='/static/dist/css/build.css' />
	{{{block "styles"}}}
</head>
<body>
	<header class="page-layout--header">
	{{{block "page-header"}}}
	</header>
	<main class="page-layout--main">
		<section class="page-layout--main--middle">
		{{{body}}}
		</section>
		<section class="page-layout--main--left">
		{{{block "page-content--left"}}}
		</section>
		<aside class="page-layout--main--right">
		{{{block "page-content--right"}}}
		</aside>
	</main>
	<footer class="page-layout--footer">
		
	</footer>

	<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/static/bower_components/lodash/lodash.min.js"></script>
	<script src="/static/dist/js/build.js"></script>
	{{{block "scripts"}}}
</body>
</html>
