<div class="choose-game-form-container">
	<form class="choose-game-form" method="get" action="search" enctype="application/www-form-urlencoded">
		<div class="form-row form-group">
			<label>
				<h3>Search for a game by name:</h3>
				<input type="search" name="name" class="form-control" placeholder="Game name"{{#req.query.name}} value="{{.}}"{{/req.query.name}} />
			</label>
		</div>
		<div class="form-row form-group">
			<h3>Search for a game by characteristics:</h3>
			<label>
				Width:
				<input type="number" min="15" max="25" name="width" class="form-control" placeholder="Board width"{{#req.query.width}} value="{{.}}"{{/req.query.width}} />
			</label>
			<label>
				Height:
				<input type="number" min="15" max="25" name="height" class="form-control" placeholder="Board height"{{#req.query.height}} value="{{.}}"{{/req.query.height}} />
			</label>
		</div>
		<div class="form-row form-group"></div>
			<label>
				<input type="checkbox" name="include_full" value="true" {{#req.query.include_full}}checked{{/req.query.include_full}} />
				Include full games
			</label>
		<div class="form-row form-group">
			<button type="submit" class="btn btn-primary">Search</button>
		</div>
	</form>
	<div class="search-results-container">
		{{#if submitted}}
			{{#if results}}
			<ul class="game-search-results">
			{{#results}}
				<li>
					<a href="/game/{{short_id}}">{{short_id}}</a>
				</li>
			{{/results}}
			</ul>
			{{/if}}
			{{^results}}
			No results{{#if req.query.name}} for "{{req.query.name}}". Do you want to <a href="/game/create?name={{req.query.name}}">create</a> it?{{else}}. You can <a href="/game/create">create</a> a new game or change your search parameters.{{/if}}
			{{/results}}
		{{/if}}
	</div>
</div>
